nbproject/
application/config/config.php
application/admin/config/config.php
.htaccess
admin/.htaccess
application/config/database.php
application/admin/config/database.php
application/logs/
application/admin/logs/
upload/*
upload/virtcab/doc/
upload/virtcab/img/
upload/virtcab/video/
upload/thumbs
.htaccess
admin/.htaccess
