#dialog-modal{
	display: none;
}
#pagetree {
	list-style: none;
	padding: 0px;
	margin: 0px;
	display: block;
}
#pagetree a {
    color: #000;
    text-decoration: none;
}
#pagetree li {
	list-style: none;
	padding: 3px;
	padding-left: 15px;
	margin: 0px;
	display: block;
	clear: both;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 10px;
}
#pagetree li {
	background: #E0E0E0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-right: 10px;
}
#pagetree li li {
	background: #EEEEEE;
}
#pagetree li li li {
	background: #F8F8F8;
}
#pagetree li li li li {
	background-color: #fff;
}

#pagetree .page_item {
	clear: both;
	min-height: 20px;
	width: 100%;
}
#pagetree .page_item_name {
	float: left;
}
#pagetree .page_item_alias {
	width: 30%;
	float: right;
}

#pagetree .page_item_options {
	float: right;
}