#dialog-modal{
	display: none;
}
.widgettree {
	list-style: none;
	padding: 0px;
	margin: 0px;
	display: block;
}

.widgettree a {
    color: #000;
    text-decoration: none;
}
.widgettree li {
	list-style: none;
	padding: 3px;
	padding-left: 15px;
	margin: 0px;
	display: block;
	clear: both;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 10px;
}
.widgettree li {
	background: #E0E0E0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-right: 10px;
}
.widgettree li li {
	background: #EEEEEE;
}
.widgettree li li li {
	background: #F8F8F8;
}
.widgettree li li li li {
	background-color: #fff;
}
.widgettree .item {
	clear: both;
	min-height: 20px;
	width: 100%;
}
.widgettree .item_name {
	float: left;
}
