<span id="cal-slide-tick" style="display: none"></span>
<div id="cal-slide-content" class="cal-event-list">
    <ul class="unstyled list-unstyled">
        <% _.each(events, function(event) { %>
        <script>
            console.log('<%= events %>');</script>
        <li style="line-height: 20px; border-bottom: 1px solid #E1E1E1; padding-bottom: 10px">
            <div class="row-fluid mar-top10">
                <div class="col-lg-4 ev" style="height: 90px; overflow: hidden;">
                    <img src="http://localhost/landlord/upload/property/units/<%= event.unit_image %>" alt="" width="150"  />
                </div>
                <div class="col-lg-8">
                    <div class="mar-top0 mar-bot5 <%= event.class %> " style="text-transform: capitalize; color: <%= event.color %>; font-size: 20px"><%= event.unit_number %></div>
                    <div class="mar-top0 mar-bot5 <%= event.class %> " style="color: <%= event.color %>;"><%= event.description %></div>
                    <!--                    <div>&nbsp;Created On :&nbsp;<%= event.created_on %></div>
                                        <div>&nbsp;Due Date :&nbsp;<%= event.due_on %></div>-->
                    <div class="mar-top0 mar-bot5 <%= event.class %> " style="color: <%= event.color %>;">
                        Created On :&nbsp;<%= event.created_on %>
                    </div>
                    <div class="mar-top0 mar-bot5 <%= event.class %> " style="color: <%= event.color %>;">
                        Due Date :&nbsp;<%= event.due_on %>
                    </div>
                    <div class="mar-top0 mar-bot5 <%= event.class %> " style="color: <%= event.color %>;">
                        Payment : <%= (event.is_paid == 1) ? 'Paid' : 'Pending' %>
                    </div>                    
                    <div class="mar-top0 mar-bot5 <%= event.class %> " style="color: <%= event.color %>;">
                        View Invoice : 
                        <button title="Event Complete" onclick="gotoinvoice( <%= event.invoice_id %> )" class="btn btn-default btn-xs"><span class="fa fa-eye"></span></button>
                    </div>                    
                </div>
        </li>
        <% }) %>
    </ul>
</div>

